Body (
    name: "Earth",
    initial_pos: (0.97000436, -0.24308753),
    velocity: (1.86481474, 1.72946292),
    mass: 1.0,
    radius: 0.1,
    color: LinearRgba(LinearRgba(
        red: 0.0,
        green: 0.4,
        blue: 0.6,
        alpha: 1.0,
    )),
)
